<header class="header">
    <div class="container">

        <ul class="navigation">
            <li class="navigation__item">
                <img src="../img/projectImg/logo.png" alt="logo">
            </li>
            <li class="navigation__item navigation__item--position">
                <div class="navigation__item--indent">
                    <img src="../img/projectImg/burger.png" alt="burger">
                </div>
                <button class="btn-hidden" type="">Buy now</button>
                
            </li>
        </ul>
          
        <div class="header-content">
            <h1 class="header-content__tittle">ice cream made with <span class="header-content__tittle--color">passion</span></h1>
            <button class="header-content__btn header-content__btn--product" type="submit">Products</button>
            <button class="header-content__btn header-content__btn--made" type="submit">How it’s made?</button>
        </div>
        <div class="header-content__images">
            <img class="header-content__images--ellipse"  src="../img/projectImg/ellipse-pink.png" alt="ellipse-pink">
            <img class="header-content__images--ice-cream" src="../img/projectImg/slider-ice-cream.png" alt="slider-ice-cream">
        </div>
        <!-- <div class="btn-hidden">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et  
            </p>
            <img src="../img/projectImg/slider-milk.png" alt="milk">
        </div> -->
</div>

    
    
    
  
</header>
