<header class="header">
    <div class="container">
        <ul>
            <li>
                <img src="../img/projectImg/logo.png" alt="logo">
            </li>
            <li><img src="../img/projectImg/burger.png" alt="burger"></li>
        </ul>
<div>
    <img src="../img/projectImg/ellipse-pink.png" alt="ellipse-pink">
    <img src="../img/projectImg/slider-ice-cream.png" alt="slider-ice-cream">
</div>
    
    <h1>ice cream made with <span>passion</span></h1>
    <button type="submit">Products</button>
    <button type="submit">How it’s made?</button>
    </div>
    
  
</header>
