<header class="header">
    <div class="container">
        <ul class="navigation">
            <li class="navigation__item">
                <img src="../img/projectImg/logo.png" alt="logo">
            </li>
            <li class="navigation__item"><img src="../img/projectImg/burger.png" alt="burger"></li>
        </ul>
        <div class="header-content">
            <h1 class="header-content__tittle">ice cream made with <span class="header-content__tittle--color">passion</span></h1>
            <button class="header-content__btn header-content__btn--product" type="submit">Products</button>
            <button class="header-content__btn header-content__btn--made" type="submit">How it’s made?</button>
        </div>
        <div class="header-content__images">
            <img class="header-content__images--ellipse" width="345" height="344" src="../img/projectImg/ellipse-pink.png" alt="ellipse-pink">
            <img class="header-content__images--ice-cream" width="170" height="410" src="../img/projectImg/slider-ice-cream.png" alt="slider-ice-cream">
        </div>
</div>

    
    
    
  
</header>
